// Text Colors
$black: #1a1a1b;
$gray: #8d8d8d;
$white: #ffffff;

// Accent Colors
$blue-dark: #006cd1;
$blue-light: #4b54fa;
$yellow: #fed701;

// Nav Colors
$gray-logo: #636363;
$gray-menu: #303134;
$gray-buttons: #f2f2f2;
$gray-footer: #dcdbdb;

// Bgr Colors
$footer-color: #141418;